{
    "SECRET_KEY": "THIS SHOULD BE SOMETHING SECRET AND NEVER COMMITTED TO A PUBLIC REPO",
    "DEBUG": false,
    "SQLALCHEMY_TRACK_MODIFICATIONS": false,
    "SQLALCHEMY_DATABASE_URI": "sqlite:////absolute/path/to/turkey.db"
    "SERVER_NAME": "127.0.0.1:5000",
}
