<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Turkey - get on with it</title>
    <link href="{{ url_for('static', filename='bootstrap-3.2.0/css/bootstrap.css') }}" rel="stylesheet">
{% if form is defined %}
    <link href="{{ url_for('static', filename='bootstrap-datepicker-1.3.1/css/datepicker3.css') }}" rel="stylesheet">
{% endif %}
    <style>.content {padding-top: 80px;}</style>
  </head>

  <body>
    <script src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-3.2.0/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-growl.min.js') }}"></script>
{%- if form is defined -%}
    <script src="{{ url_for('static', filename='bootstrap-datepicker-1.3.1/js/bootstrap-datepicker.js') }}"></script>
{%- endif -%}
    {%- block topbar -%}
    <div class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"><strong>Turkey</strong></a><a href="{{ url_for('version_history') }}" class="navbar-brand"><small>{{ version }}</small></a>
        </div>
        {%- if current_user and current_user.name -%}
          <ul class="nav navbar-nav nav-pills pull-left">
            {%- if current_page == 'active_tasks' -%} -%}
              <li class="active">
            {%- else -%}
              <li>
            {%- endif -%}
              <a id="active-tasks-link" href="{{ url_for('home') }}">Active tasks</a>
            </li>
            {%- if current_page == 'archived_tasks' -%} -%}
              <li class="active">
            {%- else -%}
              <li>
            {%- endif -%}
              <a id="archived-tasks-link" href="{{ url_for('archived_tasks') }}">Archived tasks</a>
            </li>
          </ul>
        {%- endif -%}
        <div class="nav nav-pills pull-right">
        {%- if current_user and current_user.name -%}
          <!-- We're not using navbar-link classes because they're camoflagued on a navbar-inverse -->
          <p id="my-user" class="navbar-text">Hello, <a href="{{ url_for('me') }}">{{ current_user.name }}</a>!</p>
          {%- if current_user.is_admin -%}
             <a id="site-administration" type="button" class="btn btn-default navbar-btn" href="{{ url_for('admin') }}">Site administration</a>
          {%- endif -%}
          <a id="logout" type="button" class="btn btn-default navbar-btn" href="{{ url_for('logout') }}">Logout</a>
        {%- else -%}
<!-- Logout on logged in, login on not logged in -->
<!-- Register on login page -->
<!-- Forgot username/password on login page -->
<!-- Allow email login on login page -->
          {%- if registration_enabled -%}
            <!-- We're not using navbar-link classes because they're camoflagued on a navbar-inverse -->
            <p class="navbar-text">Hi, you can <a id="register-link" href="{{ url_for('register') }}">register</a> or </p>
          {%- endif -%}
          <a id="login" type="button" class="btn btn-default navbar-btn" href="{{ url_for('login') }}">Login</a>
        {%- endif -%}"
        </div>
      </div>
    </div>
    {%- endblock -%}

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            <script>
            {% if messages %}
                {% for category, message in messages %}
                    $.growl({
                        message: '{{ message }}'
                    }, {
                        type: '{{ category }}',
                        mouse_over: 'pause',
                        spacing: 10,
                        placement: {
                            align: "center"
                        }
                    });
                {% endfor %}
            {% endif %}
            </script>
        {% endwith %}
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
