<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Turkey - get on with it</title>
    <link href="{{ url_for('static', filename='bootstrap-3.2.0/css/bootstrap.css') }}" rel="stylesheet">
{% if form is defined %}
    <link href="{{ url_for('static', filename='bootstrap-datepicker-1.3.1/css/datepicker3.css') }}" rel="stylesheet">
{% endif %}
    <style>.content {padding-top: 80px;}</style>
  </head>

  <body>
    <script src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-3.2.0/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-growl.min.js') }}"></script>
{% if form is defined %}
    <script src="{{ url_for('static', filename='bootstrap-datepicker-1.3.1/js/bootstrap-datepicker.js') }}"></script>
{% endif %}
    {%- block topbar -%}
    <div class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <h2>
              <a href="/" class="brand">Turkey</a> <small>No excuses, get on with it.</small>
          </h2>
        </div>
        <div class="nav nav-pills pull-right">
        {% if current_user and current_user.name %}
          <p class="navbar-text">Hello, <a href="{{ url_for('me') }}">{{ current_user.name }}</a>!</p>
          <a type="button" class="btn btn-default navbar-btn" href="{{ url_for('logout') }}">Logout</a>
        {% else %}
<!-- Logout on logged in, login on not logged in -->
<!-- Register on login page -->
<!-- Forgot username/password on login page -->
<!-- Allow email login on login page -->
          <p class="navbar-text">Hi, you can <a id="register-link" href="{{ url_for('register') }}">register</a> or </p>
          <a type="button" class="btn btn-default navbar-btn" href="{{ url_for('login') }}">Login</a>
        {% endif %}"
        </div>
      </div>
    </div>
    {%- endblock -%}

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            <script>
            {% if messages %}
                {% for category, message in messages %}
                    $.growl({
                        message: '{{ message }}'
                    }, {
                        type: '{{ category }}',
                        mouse_over: 'pause',
                        spacing: 10,
                        placement: {
                            align: "center"
                        }
                    });
                {% endfor %}
            {% endif %}
            </script>
        {% endwith %}
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
