{% extends "_base.html" %}

{% block content %}
  {% if current_user and current_user.name %}
    {%- for goal, children in tree['goals']|dictsort recursive %}
      <ul>
      <li id="goal-{{ goal[0] }}">{{ goal[1] }}</li>
      {%- if children['open_tasks'] or children['completed_tasks'] %}
        <ol>
        {%- for task in children['tasks']|sort(attribute='id') %}
          <a id="goal-{{ goal[0] }}-task-{{ task['id'] }}" type="button" class="btn btn-info" disabled style="float: left">{{ task['name'] }}</a>
          <a type="button" id="task-{{ task['id'] }}_history" class="btn btn-default" href="{{ url_for('task_history', task_id=task['id'])}}">History</a>
          From {{ task['created'] }} to {{ task['finished'] }}
          <br />
        {%- endfor -%}
        </ol>
      {%- endif %}
      <ul>{{ loop(children['goals']|dictsort) }}</ul>
      </ul>
    {%- endfor %}
  {% endif %}
{% endblock %}
