{% extends "_base.html" %}

{% block content %}
  {% if current_user and current_user.name %}
    <a type="button" class="btn btn-default navbar-btn" href="{{ url_for('create_goal') }}">Create Goal</a>
    <a type="button" class="btn btn-default navbar-btn" href="{{ url_for('create_task') }}">Create Task</a>
    {%- for goal, children in tree['goals'].items() recursive %}
      <ul>
      <li>{{ goal[1] }}</li>
      {%- if children['open_tasks'] or children['completed_tasks'] %}
        <ol>
        {%- for task in children['tasks'] %}
          {%- if task['completed'] %}
            <a type="button" class="btn btn-info" disabled style="float: left">{{ task['name'] }}</a><br />
          {%- else %}
            <a type="button" class="btn btn-warning" href="{{ url_for('complete_task', task_id=task['id']) }}" style="float: left">{{ task['name'] }}</a><br />
          {%- endif %}
          <a href="{{ url_for('task_history', task_id=task['id'])}}">History</a>
          <div class="progress" style="max-width: 200px">
          {%- for day in task['last_week'] %}
            {%- if day['completed'] %}
              <div class="progress-bar progress-bar-info" style="width: {{ day['width'] }}%; border-left: 1px; border-style: solid ; border-color:black" title="{{ day['name'] }} completed! ({{ day['date'] }})">
                 <span class="sr-only">{{ day['name'] }} completed! ({{ day['date'] }})</span>
              </div>
            {%- else %}
              <div class="progress-bar progress-bar-warning" style="width: {{ day['width'] }}%; border-left: 1px; border-style: solid ; border-color:black" title="{{ day['name'] }} missed ({{ day['date'] }})">
                 <span class="sr-only">{{ day['name'] }} missed ({{ day['date'] }})</span>
              </div>
            {%- endif %}
          {%- endfor %}
          </div>
        {%- endfor %}
        {%- for task in children['completed_tasks'] %}
        {%- endfor %}
        </ol>
      {%- endif %}
      <ul>{{ loop(children['goals'].items()) }}</ul>
      </ul>
    {%- endfor %}
  {% endif %}
{% endblock %}
