{% extends "_base.html" %}

{% block content %}
    {%- if end -%}
      <a type="button" class="btn btn-default" href="{{ url_for('archived_tasks') }}">Return to Archived Tasks</a>
    {%- else -%}
      <a type="button" class="btn btn-default" href="{{ url_for('home') }}">Return to Active Tasks</a>
    {%- endif -%}
    <h2>{{ task_name }}</h2>
    <br />
    {%- for task in history %}
      {%- if task['completed'] %}
        <a type="button" class="btn btn-info" disabled>{{ task['date'] }} </a>{{ task['comment'] }}<br />
      {%- else %}
        {%- if end -%}
          <a type="button" class="btn btn-warning" disabled>{{ task['date'] }}</a><em>Task missed</em><br />
        {%- else -%}
          <a type="button" class="btn btn-warning" href="{{ url_for('complete_old_task', task_id=task['id'], task_date=task['date_quoted']) }}">{{ task['date'] }}</a><br />
        {%- endif -%}
      {%- endif %}
    {%- endfor %}
    </ul>
{% endblock %}
